.navbar
  .site-name
    color: #5c0011 !important;

.home
  #main-title
    color: #5c0011;
  .ant-btn
    border-color: #ff7875;
    color: #ff7875;
    background-color: #fff !important;
    transition: background-color 0.3s,color 0.4;
  .ant-btn:hover
    background-color: #ff7875 !important;
    border: none;
    color: #fff;

.footer
  background-color: #fff !important;
  color: #555 !important;
  border-top: 1px solid #eaecef;
